@using ECommerce.Core.DTOs.Response
@model GetProductResponse

<div class="col-lg-3 col-md-12 mb-3">
    <div class="card">
        <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
             data-mdb-ripple-color="light">
            <img src="@Model.ImageUrl"
                 class="w-100" />
            <a href="#!">
                <div class="mask">
                    <div class="d-flex justify-content-start align-items-end h-100">
                        <h5><span class="badge bg-primary ms-2">New</span></h5>
                    </div>
                </div>
                <div class="hover-overlay">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
            </a>
        </div>
        <div class="card-body">
            <a href="" class="text-reset">
                <h5 class="card-title mb-3">@Model.Title</h5>
            </a>
            <a href="" class="text-reset">
                <p>@Model.Title</p>
                <p>@Model.UId</p>
            </a>
            <h6 class="mb-3">$ @Model.Price</h6>
        </div>
        <a  
           href  ="products/@Model.Title/@Model.UId">Detay: @Model.UId</a>
        <a class="btn btn-danger text-white"
           href="products/@Model.Title/@Model.UId">Add to cart</a>
    </div>
</div>
